*
{
  
    border: 500px;
    padding: 0 20px 0 20px;
    
}
body
{
    background-color:teal;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-left: 40px;
    margin-right:  40px;
    text-align: justify;
    align-items: center;
}

h1
{
    border:500px ;
    margin-left: 20px;
   padding-inline-end: 30px;
    width:max-content;
    background-color:#bc8f8f;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    

}

@media(min-width:768px)
{
    .container-1
    {
   
        display:flex;
        border: 1px;
        padding: 0 20px 0 10px;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 100px;
       
        
    }
        
        .container-2
        {
            display: flex;
            justify-content: space-between;
            width:62%;
            border: 1px;
            text-align: center;
            padding: 0 100px 0 120px;
            align-content: center;
            margin-bottom: 100px;
           
        }
        
        .fav
        {
    
            border: 1px solid brown;
            margin:5px;
            display: flex;
            border: 1px;
            justify-content: space-between;
          list-style-position: inside;
        }

}
 
#box-1
{
    flex: 1;
    margin: 0 10px 0 10px;
}

 #box-2
{ 
    flex: 1;
    margin: 0 10px 0 10px;
 }


 #box-3
 {
    flex: 1;
    margin: 0 10px 0 10px;

 }


 #box-4
 {
    flex: 1;
    margin: 0 10px 0 10px;
 }


 #box-5
 {
    flex: 1;
    margin: 0 10px 0 10px;
    padding-left: 200px;
 }

 #box-6
 {
flex:1;
margin: 0 10px 0 10px;

 }


 #box-7
 {

    flex:1;
    margin: 0 10px 0 10px;
 }
 
#band{
    border: groove;
    background-color:#bc8f8f;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fav:hover{
    background-color: yellow;
}


#song1 {
flex: 1;
margin: 0 10px 0 10px;
}

#song2 
{
flex: 1;
}
#song3
{
    flex: 1;
    margin: 0 10px 0 10px;
}

#song4
{
    flex: 1;
    margin: 0 10px 0 10px;
}

#song5
{
    flex: 1;
    margin: 0 10px 0 10px;
}